<div class="page-wrapper">
    <section class="sakura-bg"></section>
    <div class="landing-wrapper">
        <div class="layer-wrapper">
            <p class="title">【𝕧𝕚𝕣𝕒𝕛 𝕤𝕙𝕒𝕙】</p>
            <img class="roman" src="../../assets/images/roman.png">
            <p class="subtitle">ヴェイパーウェイヴ</p>
            <!-- <a href="#about">     
                <button class="learn-more">Learn More</button>
            </a> -->
            <button class="learn-more" (click)="playAudio()">Lift off 🚀</button>
        </div>
    </div>

    <div class="about-wrapper" id="about">
        <div class="link-wrapper">
            <a href="https://github.com/youngvz" target="_blank" rel="noopener noreferrer">
                <img class="logo" src="../../assets/icons/github_logo.png">
            </a>
            <a href="https://medium.com/@youngvz" target="_blank" rel="noopener noreferrer">
                <img class="logo" src="../../assets/icons/medium_logo.png">
            </a>
            <a href="https://linkedin.com/in/virajashah/" target="_blank" rel="noopener noreferrer">
                <img class="logo" src="../../assets/icons/linkedin_logo.png">
            </a>
            <a href="https://instagram.com/young_vz" target="_blank" rel="noopener noreferrer">
                <img class="logo" src="../../assets/icons/instagram_logo.png">
            </a>
        </div>
        <div class="description">
            <p class="title">Welcome to my playground. <br>🌊🌊🌊<br> </p>
            <p class="subtitle">Explore the inner workings of my mind where I muse about everything related to code, Chelsea FC, cats, music, gaming, anime, memes & whatever else I am currently obsessing over.</p>
        </div>
        
        <!-- <div class="button-wrapper">
            <button class="learn-more" (click)="playAudio()">Lift off 🚀</button>
        </div> -->


        <div class="space-cat-wrapper">
            <img class="space-cat" src="../../assets/gifs/party-cat.gif">
        </div>
    </div>

    <div class="checkerboard-wrapper">
        <img src="../../assets/images/checker_board.jpg">
    </div>


    <div class="cloud-wrapper">
        <div class="sign-wrapper">
            <div class="sign"><b>🌴 Ex<span>pl</span>o<span>r</span>e 🌴</b></div>
        </div>

        <div class="cloud large cloud-1">
            <div></div><div></div><div></div><div></div>
        </div>
        <div class="cloud normal cloud-2">
            <div></div><div></div><div></div><div></div>
        </div>
        <div class="cloud small cloud-3">
            <div></div><div></div><div></div><div></div>
        </div>
        <div class="cloud tiny cloud-4">
            <div></div><div></div><div></div><div></div>
        </div>
        <div class="cloud large cloud-5">
            <div></div><div></div><div></div><div></div>
        </div>
        <div class="cloud normal cloud-6">
            <div></div><div></div><div></div><div></div>
        </div>

        <div class="post-wrapper">
            <a href="https://medium.com/@youngvz/an-intro-to-serverless-architecture-c0e356fbfd20" target="_blank" rel="noopener noreferrer">
                <div class="post">
                    <img class="thumbnail" src="../../assets/images/serverless_thumbnail.jpeg">
                    <div class="text-container">
                        <p class="title">An Intro to Serverless Architecture</p>
                        <p class="subtitle">What if I told you that you can deploy code without having to maintain any infrastructure?</p>
                    </div>
                </div>
            </a>

            <a href="https://medium.com/@youngvz/top-3-things-to-know-before-building-an-app-in-2018-9df85e4fe26b" target="_blank" rel="noopener noreferrer">
                <div class="post">
                    <img class="thumbnail" src="../../assets/images/mobile_dev_thumbail.jpeg">
                    <div class="text-container">
                        <p class="title">Top 3 Things To Know Before Building an App</p>
                        <p class="subtitle">While apps are still very much profitable these days, a lot groundwork is necessary first.</p>
                    </div>
                </div>
            </a>

            <a href="https://medium.com/@Shapr/this-founder-says-shapr-kept-his-doors-open-77fa818152c7" target="_blank" rel="noopener noreferrer">
                <div class="post">
                    <img class="thumbnail" src="../../assets/images/shapr_thumbnail.jpeg">
                    <div class="text-container">
                        <p class="title">This Founder Says Shapr Kept His Doors Open</p>
                        <p class="subtitle">When Viraj Shah started his own business, his #1 fear was finding enough clients to keep his doors open.</p>                
                    </div>
                </div>
            </a>

            <!-- <a href="https://medium.com/@Shapr/i-met-a-collaborator-on-shapr-in-three-days-28bb140e0aff">
                <div class="post">
                    <img class="thumbnail" src="../../assets/images/shapr_thumbnail.jpeg">
                    <p class="title">I met a collaborator on Shapr in three days!</p>
                    <p class="subtitle">In only three days on the app, Sarah met fellow user Viraj Shah and they immediately clicked.</p>
                </div>
            </a> -->

            <a href="https://georgiastatesignal.com/three-panthers-find-entrepreneurial-niche/" target="_blank" rel="noopener noreferrer">
                <div class="post">
                    <img class="thumbnail" src="../../assets/images/the_signal_thumbnail.png">
                    <div class="text-container">
                        <p class="title">Three Panthers Find Their Entrepreneurial Niche</p>
                        <p class="subtitle">Matteo Santavicca, Viraj Shah & Solo Arnett found purpose in their jobs before graduating from GSU.</p>
                    </div>
                </div>
            </a>
            
        </div>
    </div>

    <div class="mountain-wrapper">
        <img src="../../assets/images/retro_mountains.png">
    </div>

    <div class="connect-wrapper" id="connect">
        <div class="description">
            <p class="title">Connect With Me ♨♨♨</p>
            <p class="subtitle">Want to get in touch? Feel free to connect with me on social media. </p>
            <p class="subtitle">If you would like to collaborate, please send all inquiries to:</p>
            <a href = "mailto: viraj@cloudartisans.io" target="_blank" rel="noopener noreferrer" class="email-link"> <p>viraj at cloudartisans dot io</p> </a> 
        </div>
    </div>

    

    <div class="footer-wrapper">
        <a href="https://github1s.com/youngvz/ng-youngvz" target="_blank" rel="noopener noreferrer"><p>Made with Angular 💜</p></a>
    </div>

</div>
