<div class="page-wrapper">
    <div class="landing-wrapper">
        <div class="layer-wrapper">
            <p class="title">【𝕧𝕚𝕣𝕒𝕛 𝕤𝕙𝕒𝕙】</p>
            <img class="roman" src="../../assets/images/roman.png">
            <p class="subtitle">ｱの尺ｲｷのﾚﾉの</p>
            <!-- <a href="#about">     
                <button class="learn-more">Learn More</button>
            </a> -->
        </div>
    </div>

    <div class="about-wrapper" id="about">
        <div class="link-wrapper">
            <a href="https://github.com/youngvz">
                <img class="logo" src="../../assets/icons/github_logo.png">
            </a>
            <a href="https://medium.com/@youngvz">
                <img class="logo" src="../../assets/icons/medium-logo.png">
            </a>
            <a href="https://linkedin.com/in/virajashah/">
                <img class="logo" src="../../assets/icons/linkedin_logo.png">
            </a>
            <a href="https://instagram.com/young_vz">
                <img class="logo" src="../../assets/icons/instagram_logo.png">
            </a>
        </div>
        <div class="description">
            <p class="title">Welcome to my playground.</p>
            <p class="subtitle">Explore the inner workings of my mind where I muse about everything related to code, Chelsea FC, cats, music, gaming, anime, memes & whatever else I am currently obsessing over.</p>
        </div>
        
        <div class="button-wrapper">
            <a href="#explore">     
                <button class="learn-more">Explore Now</button>
            </a>
        </div>


        <div class="space-cat-wrapper">
            <img class="space-cat" src="../../assets/gifs/party-cat.gif">
        </div>
    </div>

    <div class="explore-wrapper" id="explore">
        <div class="description">
            <p class="title">Explore Posts</p>
            <p class="subtitle">Check out the my latest thoughts and ideas.</p>
        </div>

        <div class="post-wrapper">
            <a href="https://medium.com/@youngvz/an-intro-to-serverless-architecture-c0e356fbfd20">
                <div class="post">
                    <img class="thumbnail" src="../../assets/images/serverless_thumbnail.jpeg">
                    <p class="title">An Intro to Serverless Architecture</p>
                    <p class="subtitle">What if I told you that you can deploy code without having to maintain any infrastructure?</p>
                </div>
            </a>

            <a href="https://medium.com/@youngvz/top-3-things-to-know-before-building-an-app-in-2018-9df85e4fe26b">
                <div class="post">
                    <img class="thumbnail" src="../../assets/images/mobile_dev_thumbail.jpeg">
                    <p class="title">Top 3 Things To Know Before Building an App</p>
                    <p class="subtitle">Apps are still very much profitable these days, groundwork is necessary before building a product.</p>
                </div>
            </a>

            <a href="https://medium.com/@Shapr/this-founder-says-shapr-kept-his-doors-open-77fa818152c7">
                <div class="post">
                    <img class="thumbnail" src="../../assets/images/shapr_thumbnail.jpeg">
                    <p class="title">This Founder Says Shapr Kept His Doors Open</p>
                    <p class="subtitle">When Viraj Shah started his own business, his #1 fear was finding enough clients to keep his doors open.</p>
                </div>
            </a>

            <!-- <a href="https://medium.com/@Shapr/i-met-a-collaborator-on-shapr-in-three-days-28bb140e0aff">
                <div class="post">
                    <img class="thumbnail" src="../../assets/images/shapr_thumbnail.jpeg">
                    <p class="title">I met a collaborator on Shapr in three days!</p>
                    <p class="subtitle">And in only three days on the app, she met fellow user Viraj Shah, a software engineer also based in Atlanta. Sarah and Viraj immediately clicked, and he built the app exactly the way she wanted.</p>
                </div>
            </a> -->

            <a href="https://georgiastatesignal.com/three-panthers-find-entrepreneurial-niche/">
                <div class="post">
                    <img class="thumbnail" src="../../assets/images/the_signal_thumbnail.png">
                    <p class="title">Three Panthers Find Their Entrepreneurial Niche</p>
                    <p class="subtitle">Matteo Santavicca, Viraj Shah & Solo Arnett found purpose in their jobs before graduating from GSU.</p>
                </div>
            </a>
            
        </div>
    </div>

    <div class="connect-wrapper" id="connect">
        <div class="description">
            <p class="title">Connect With Me</p>
            <p class="subtitle">Want to get in touch? Feel free to connect with me on social media. </p>
            <p class="subtitle">If you would like to collaborate, please send all inquiries to: <br> viraj at cloudartisans dot io <br> </p>
        </div>
    </div>

    <div class="footer-wrapper">
        <a href="https://github1s.com/youngvz/ng-youngvz"><p>Made with Angular 💜</p></a>
    </div>
</div>