<div class="page-wrapper">
    <div class="landing-wrapper">
        <div class="layer-wrapper">
            <p class="title">【𝕧𝕚𝕣𝕒𝕛 𝕤𝕙𝕒𝕙】</p>
            <img class="roman" src="../../assets/images/roman.png">
            <p class="subtitle">ｱの尺ｲｷのﾚﾉの</p>
        </div>
    </div>

    <div class="about-wrapper">
        <div class="link-wrapper">
            <img src="../../assets/icons/medium_logo.png">
            <img src="../../assets/icons/medium_logo.png">
            <img src="../../assets/icons/medium_logo.png">
            <img src="../../assets/icons/medium_logo.png">
        </div>
        <div class="description">
            <p class="title">Welcome to my playground.</p>
            <p class="subtitle" >Explore the inner workings of my mind where I muse about everything related to code, Chelsea FC, cats, music, gaming, anime, memes & whatever else I am currently obsessing over.</p>
        </div>

        <div class="space-cat-wrapper">
            <img class="space-cat" src="../../assets/gifs/party-cat.gif">
        </div>
    </div>

    <!-- <div class="footer-wrapper">
        <a href="https://github.com/youngvz/ng-youngvz"><p>Made with Angular 💜</p></a>
    </div> -->
</div>